Repository Armor-test/analytics-processor-718, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-research, @Armor-test/squad-performance, @Armor-test/grp-payments, @Armor-test/team-security, @Armor-test/squad-mobile, @Armor-test/dept-notifications, @Armor-test/squad-cloud, @Armor-test/team-governance, @Armor-test/squad-qa, @Armor-test/squad-product, @Armor-test/squad-ml, @Armor-test/squad-apps, @Armor-test/unit-cloud, @Armor-test/team-logging, @Armor-test/team-research, @Armor-test/grp-ui, @Armor-test/dept-identity, @Armor-test/team-frontend, @Armor-test/grp-integration, @Armor-test/dept-automation, @Armor-test/grp-reporting, @Armor-test/dept-api, @Armor-test/team-reporting, @Armor-test/squad-ux, @Armor-test/squad-database, @Armor-test/squad-frontend, @Armor-test/unit-governance, @Armor-test/dept-test, @Armor-test/dept-security, @Armor-test/squad-cache, @Armor-test/team-notifications, @Armor-test/unit-design, @Armor-test/squad-search, @Armor-test/squad-payments, @Armor-test/dept-logging, @Armor-test/dept-reporting, @Armor-test/dept-billing, @Armor-test/grp-storage, @Armor-test/dept-reliability, @Armor-test/devops, @Armor-test/infra, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/auth-team, @Armor-test/ci-team

.github/CODEOWNERS:

# CODEOWNERS file for analytics-processor-718
# Global owners - will be requested for all PRs
* @Armor-test/squad-research @Armor-test/squad-performance @Armor-test/grp-payments

# Directory ownership
/config/ @Armor-test/team-security @Armor-test/squad-mobile
/db/ @Armor-test/team-security @Armor-test/dept-notifications @Armor-test/squad-cloud
/api/ @Armor-test/dept-notifications @Armor-test/team-governance @Armor-test/squad-qa
/auth/ @Armor-test/squad-product @Armor-test/squad-ml @Armor-test/squad-apps
/controllers/ @Armor-test/unit-cloud @Armor-test/squad-cloud
/services/ @Armor-test/team-logging @Armor-test/team-security @Armor-test/team-research
/components/ @Armor-test/grp-ui @Armor-test/team-security
/hooks/ @Armor-test/dept-identity @Armor-test/team-frontend
/pages/ @Armor-test/grp-integration @Armor-test/dept-automation @Armor-test/grp-payments
/docs/ @Armor-test/squad-performance @Armor-test/squad-product @Armor-test/grp-reporting
/assets/ @Armor-test/dept-api @Armor-test/squad-apps
/models/ @Armor-test/squad-research @Armor-test/team-reporting @Armor-test/dept-api
/styles/ @Armor-test/squad-ux @Armor-test/squad-database @Armor-test/squad-frontend
/lib/ @Armor-test/grp-payments @Armor-test/unit-governance

# File type ownership
*.ts @Armor-test/team-research @Armor-test/dept-test @Armor-test/squad-mobile
*.h @Armor-test/dept-security @Armor-test/squad-cache
*.md @Armor-test/squad-qa @Armor-test/team-notifications @Armor-test/grp-reporting
*.proto @Armor-test/team-frontend @Armor-test/squad-ml @Armor-test/dept-notifications
*.swift @Armor-test/unit-design @Armor-test/squad-frontend @Armor-test/squad-search
*.yaml @Armor-test/dept-notifications @Armor-test/squad-payments @Armor-test/squad-research
*.kt @Armor-test/dept-logging @Armor-test/grp-reporting
*.jsx @Armor-test/dept-reporting @Armor-test/squad-product
*.py @Armor-test/dept-billing @Armor-test/grp-payments @Armor-test/grp-integration
*.lock @Armor-test/squad-performance @Armor-test/dept-identity
*.xml @Armor-test/grp-storage @Armor-test/squad-cloud
*.properties @Armor-test/squad-cache @Armor-test/squad-cloud
*.js @Armor-test/squad-payments @Armor-test/dept-reliability
*.rb @Armor-test/unit-governance @Armor-test/grp-storage @Armor-test/squad-cloud

# Security and special files
Dockerfile @Armor-test/devops @Armor-test/infra
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Jenkinsfile @Armor-test/ci-team @Armor-test/devops

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-research, @Armor-test/squad-performance, @Armor-test/grp-payments

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-performance, @Armor-test/squad-product, @Armor-test/grp-reporting

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-research, @Armor-test/squad-performance, @Armor-test/grp-payments

Add src/main.py
  src/main.py
Owners: @Armor-test/dept-billing, @Armor-test/grp-payments, @Armor-test/grp-integration

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-payments, @Armor-test/dept-reliability
